
$brand-main: #2b74ce;
$brand-light: lighten($brand-main, 20%);
$brand-dark: rgb(7, 25, 69);

$text-color: #333;

$link-color: #2b74ce;


$shadow-color-light: rgba(0, 0, 0, 0.3);

$media-xs: 480px;
$media-sm: 820px;
$media-md: 1024px;
$media-lg: 1440px;
